body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    margin-top: 25vh;
    color: #777;
    letter-spacing: 0.75em;
    font-weight: lighter;
}

ul.delta {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul.delta li {
    margin: 0.5em;
}

.digit {
    display: inline-block;
    font-size: 300%;
    min-width: 2ch;
    text-align: center;
    font-weight: bold;
}

.bbs-down-logo {
    width: 20vmin;
    height: 20vmin;
    margin-top: -10vmin;
    background-image: url('bbs-down.svg');
    background-size: contain;
}