body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15% 0; */
    font-size: 3vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    margin-top: 25vh;
}

ul.delta {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul.delta li {
    margin: 0.5em;
}

.digit {
    display: inline-block;
    font-size: 300%;
    min-width: 2ch;
    text-align: center;
}